/* 
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
 
  height: 2%;

  text-align: center;
}
.card {
  background-image: url("./static/images/Background.jpg");
  background-repeat: no-repeat;
}

.wrapper {
  margin-top: 4%;
  height: auto;
  width: 100%;
  background: #fff;
  line-height: 60px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  float: right;
}
.wrapper nav .logo {
  margin: auto;
  padding-right: 20px;
  width: 50%;
  height: auto;
  justify-self: center;
}
.wrapper nav {
  position: relative;
  display: flex;
}
.wrapper nav label {
  flex: 1;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.wrapper nav label a {
  position: relative;
  z-index: -1;
  pointer-events: painted;
  color: #1d1f20;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.6s ease;
  padding: 20px;
}
.wrapper nav #logo:hover ~ label.logo,
.wrapper nav #home:hover ~ label.home a,
.wrapper nav #courses:hover ~ label.courses a,
.wrapper nav #contact:hover ~ label.contact a,
.wrapper nav #Log-in:hover ~ label.Log-in a,
.wrapper nav #Blogs:hover ~ label.Blogs a,
.wrapper nav #about:hover ~ label.about a {
  color: #fff;

  width: 14%;
  border-radius: 50px;
  background: linear-gradient(45deg, #1aa2cf 0%, #8200f4 100%);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav label a i {
  font-size: 25px;
  margin: 1 7px;
} */
/* ------------------------------------------------------------- */
/* .inp{
  position: absolute;
  top: 0;
  left: 20rem;
  z-index: 100;

} */
/* .wrapper nav .tab {
  position: absolute;
  height: 100%;
  width: 14%;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, #1aa2cf 0%, #8200f4 100%);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #home:checked ~ .tab {
  left: 15%;
}
.wrapper nav #courses:checked ~ .tab {
  left: 29%;
}
.wrapper nav #contact:checked ~ .tab {
  left: 43.5%;
}
.wrapper nav #Blogs:checked ~ .tab {
  left: 58%;
}
.wrapper nav #about:checked ~ .tab {
  left: 72%;
}
.wrapper nav #Log-in:checked ~ .tab {
  left: 86%;
}
.wrapper nav input {
  display: none;
}
.card .slogan {
  color: #8200f4;
} */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {

  height: 2%;

  text-align: center;
}
.card {
  background-image: url("./static/images/Background.jpg");
  background-repeat: no-repeat;
}

.wrapper {
  margin-top: 4%;
  height: auto;
  width: 100%;
  background: #fff;
  line-height: 60px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  float: right;
}
.wrapper nav .logo {
  margin: auto;
  padding-right: 20px;
  width: 50%;
  height: auto;
  justify-self: center;
}
.wrapper nav {
  position: relative;
  display: flex;
}
.wrapper nav label {
  flex: 1;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.wrapper nav label a {
  position: relative;
  z-index: 2;
  pointer-events: painted;
  color: #1d1f20;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.6s ease;
  padding: 20px;
}
.wrapper nav #logo:hover ~ label.logo,
.wrapper nav #home:hover ~ label.home a,
.wrapper nav #courses:hover ~ label.courses a,
.wrapper nav #contact:hover ~ label.contact a,
.wrapper nav #Log-in:hover ~ label.Log-in a,
.wrapper nav #Blogs:hover ~ label.Blogs a,
.wrapper nav #about:hover ~ label.about a {
  color: #fff;

  width: 14%;
  border-radius: 50px;
  background: linear-gradient(45deg, #1aa2cf 0%, #8200f4 100%);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav label a i {
  font-size: 25px;
  margin: 1 7px;
  z-index:2;
} */
/* ------------------------------------------------------------- */
/* .inp{
  position: absolute;
  top: 0;
  left: 20rem;
  z-index: 100;

} */
.wrapper nav .tab {
  position: absolute;
  height: 100%;
  width: 14%;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, #1aa2cf 0%, #8200f4 100%);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #home:checked ~ .tab {
  left: 15%;
}
.wrapper nav #courses:checked ~ .tab {
  left: 29%;
}
.wrapper nav #contact:checked ~ .tab {
  left: 43.5%;
}
.wrapper nav #Blogs:checked ~ .tab {
  left: 58%;
}
.wrapper nav #about:checked ~ .tab {
  left: 72%;
}
.wrapper nav #Log-in:checked ~ .tab {
  left: 86%;
}
.wrapper nav input {
  display: none;
}
.card .slogan {
  color: #8200f4;
}

/* Add additional styling for the tab and other elements as needed */
