<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pankh_india</title>
    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/about.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="icon" href="/static/images/pankh logo.png" type="image/x-icon" />
  </head>
  <body>
    <!--<div class="wrapper">-->
    <!--      <nav>-->
    <!--        <input type="radio" class="inp" name="tab" id="home" />-->
    <!--        <input type="radio" class="inp" name="tab" id="courses" />-->
    <!--        <input type="radio" class="inp" name="tab" id="contact" />-->
    <!--        <input type="radio" class="inp" name="tab" id="Blogs" />-->
    <!--        <input type="radio" class="inp" name="tab" id="about" checked />-->
    <!--        <input type="radio" class="inp" name="tab" id="Log-in" />-->
    <!--        &lt;!&ndash; <input type="radio" name="tab" id="logo" /> &ndash;&gt;-->
    <!--        <label for="logo" class="logo">-->
    <!--          <img src="/static/images/pankh logo.png" alt="Logo" class="logo"-->
    <!--        /></label>-->
    <!--        <label for="home" class="home"-->
    <!--          ><a href="/index"><i class="fas fa-home"></i>Home</a></label-->
    <!--        >-->
    <!--        <label for="courses" class="courses"-->
    <!--          ><a href="/Courses"><i class="far fa-comment"></i>Courses</a>-->
    <!--        </label-->
    <!--        >-->
    <!--        <label for="contact" class="contact"-->
    <!--          ><a href="/contact"><i class="far fa-envelope"></i>Contact</a></label-->
    <!--        >-->
    <!--        <label for="Blogs" class="Blogs"-->
    <!--          ><a href="/blogs"><i class="far fa-heart"></i>Blogs</a></label-->
    <!--        >-->
    <!--        <label for="about" class="about"-->
    <!--          ><a href="/about"><i class="far fa-user" ></i>About</a></label-->
    <!--        >-->
    <!--      <label for="Log-in" class="Log-in" id="Log-in">-->
    <!--          <a href="/login"><i class="far fa-user-circle"></i> Log-in</a>-->
    <!--        </label>-->

    <!--        <div class="tab"></div>-->
    <!--      </nav>-->
    <!--    </div>-->
    {% block start %} {% include "nav.html" %} {% endblock %}

    <section class="articles">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="/static/images/recent/img4.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>About Tutors</h2>
            <p>
              Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
              euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
              lobortis porta. Vestibulum ultrices iaculis enim imperdiet
              egestas.
            </p>
            <a href="#" class="read-more">
              Read more <span class="sr-only">about Tutors</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </article>
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="/static/images/sanket.jpeg" alt="img not loaded" />
          </figure>
          <div class="article-body">
            <h2>About Developers</h2>
            <p>
              Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
              euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
              lobortis porta. Vestibulum ultrices iaculis enim imperdiet
              egestas.
            </p>
            <a href="#" class="read-more">
              Read more <span class="sr-only">about developers</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </article>
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="/static/images/gouree.jpeg" alt="" />
          </figure>
          <div class="article-body">
            <h2>About Pankh</h2>
            <p>
              Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
              euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
              lobortis porta. Vestibulum ultrices iaculis enim imperdiet
              egestas.
            </p>
            <a href="{% url 'aboutPankh' %}" class="read-more">
              Read more <span class="sr-only">about Pankh</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </article>
    </section>
    {% include 'footer.html' %}
  </body>
</html>
