<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>courses</title>
    <link rel="stylesheet" href="/static/css/course.css" />
  </head>
  <body>
    {% include "nav.html" %}

    <div class="grid">
      {% for course in courses %}
      <div class="card">
        {% if course.name == 'class 1' %}
        <img class="card__img" src="/static/images/class-3.png" />
        {% elif course.name == 'class2' %}
        <img class="card__img" src="/static/images/cls2.png" />
        {% elif course.name == 'class3' %}
        <img class="card__img" src="/static/images/class1.png" />
        {% endif%}
        <div class="card__content">
          <h1 class="card__header">{{ course.name }}</h1>
          <div class="card__text-wrapper">
            <p class="card__text">{{ course.description }}</p>
          </div>
          <a href="{{course.slug}}" style="text-decoration: none">
            <button class="card__btn">Explore <span>&rarr;</span></button>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
