<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoginPage</title>
    <link rel="stylesheet" href="/static/css/login2.css" />
  </head>

  <body>
  {% if request.user.is_authenticated %}    {% include "logout.html" %}
  {% else %}

    <div class="card">
      <div class="info">
        <img
          class="login-image"
          src="/static/images/login_img.jpeg"
          alt="book image"
        />
      </div>

      <div class="form-container">
        <form action="{% url 'login'%}" method="post">
          {% csrf_token %}
          <input
            type="text"
            name="username"
            placeholder="Enter your Email"
          />
          <input
            type="password"
            name="password"
            required
            placeholder="Enter your Readers Cave password"
          />
          <input
            type="submit"
            name="submit"
            value="login now"
            class="form-btn"
          />
          <p>don't have an account? <a href="{% url 'contact' %}">contact to register</a></p>
          <br />
          <p><a href="{% url 'signout' %}">Logout</a>
            <br>
          <a class="forget-p" href="{% url 'about' %}">  About-us </a></p>
          <br />
          <p>
          </p>
        </form>
      </div>

      {% endif %}
    </div>
      {% include 'footer.html' %}
  </body>
</html>
