<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoginPage</title>
    <link rel="stylesheet" href="/static/css/login2.css" />
  </head>

  <body>
  <h1 style="color:green;text-align:center;margin-top:2%"> {% if request.user.is_authenticated %} you are already logged in mr/mrs:-<span style="color:blue;font-weight:200px"> {{ request.session.username }}</span>{% endif %}</h1>
    <div class="card">
      <div class="info">
        <img
          class="login-image"
          src="/static/images/login_img.jpeg"
          alt="book image"
        />
      </div>

      <div class="form-container">
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <input
            type="text"
            name="username"
            placeholder="Enter your username"
          />
          <input
            type="password"
            name="password"
            required
            placeholder="Enter your Readers Cave password"
          />
          <input
            type="submit"
            name="submit"
            value="login now"
            class="form-btn"
          />
          <p> <a href="{% url 'signout' %}"><br>Logout</a></p>
          <br />
<!--          <p><a href="login2.php">User Login</a></p>-->
          <br />
          <p>
            <a class="forget-p" href="forget.php"> Forgot your password </a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
