<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pankh_india</title>
    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="icon" href="/static/images/pankh logo.png" type="image/x-icon" />
  </head>
  <body>
    <!-- <div class="card"> -->
    <!-- NAVIGATION BAR -->
    <!--    <div class="wrapper">-->
    <div class="wrapper">
      <nav>
        <input type="radio" class="inp" name="tab" id="home" checked />
        <input type="radio" class="inp" name="tab" id="courses" />
        <input type="radio" class="inp" name="tab" id="contact" />
        <input type="radio" class="inp" name="tab" id="Blogs" />
        <input type="radio" class="inp" name="tab" id="about" />
        <input type="radio" class="inp" name="tab" id="Log-in" />
        <!-- <input type="radio" name="tab" id="logo" /> -->
        <label for="logo" class="logo">
          <img src="/static/images/pankh logo.png" alt="Logo" class="logo"
        /></label>
        <label for="home" class="home"
          ><a href="index"><i class="fas fa-home"></i>Home</a></label
        >
        <label for="courses" class="courses"
          ><a href="Courses/"><i class="far fa-comment"></i>Courses</a>
        </label>
        <label for="contact" class="contact"
          ><a href="contact/"><i class="far fa-envelope"></i>Contact</a></label
        >
        <label for="Blogs" class="Blogs"
          ><a href="blogs"><i class="far fa-heart"></i>Blogs</a></label
        >
        <label for="about" class="about"
          ><a href="about"><i class="far fa-user"></i>About</a></label
        >
        <label for="Log-in" class="Log-in" id="Log-in">
          <a href="login"><i class="far fa-user-circle"></i> Log-in</a>
        </label>

        <div class="tab"></div>
      </nav>
    </div>
    <!-- NAVBAR ENDS HERE -->
  </body>
</html>
